/* =================================
------------------------------------
  X Gym - Fitness HTML Template
  Version: 1.0
 ------------------------------------
 ====================================*/

 
/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "PT Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #353535;
	font-weight: 700;
	line-height: 1;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	color:red;
	font-size: 26px;
}

p {
	font-size: 16px;
	color: #505050;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	margin-bottom: 60px;
}
.hr-box {
background-color:red;
}
.section-title h2 {
	font-size: 48px;
	line-height: 1;
}

.section-title h2 span {
	background: #fcff18;
	display: inline-block;
	padding: 0 4px;
}

.section-title p {
	padding-top: 25px;
}

.section-title.text-white span {
	color: red;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
Commom elements
 -----------------------*/

.elements-section {
	padding: 121px 0 80px;
}

.element {
	margin-bottom: 70px;
}

.element:last-child {
	margin-bottom: 0;
}

.element .el-title {
	margin-bottom: 75px;
}

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 18px;
	font-weight: 700;
	min-width: 228px;
	padding: 20px 40px;
	background: #fcff18;
	color: #353535;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #353535;
}

.site-btn.sb-dark {
	background: #242424;
	color: #fcff18;
}

.site-btn.sb-dark:hover {
	color: #fcff18;
}

.site-btn.sb-line {
	background: transparent;
	border: 2px solid #242424;
	padding: 18px 40px;
	color: #242424;
}

.site-btn.sb-line:hover {
	color: #242424;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/* Accordion */

.accordion-area .panel {
	margin-bottom: 18px;
}

.accordion-area .panel-link:after {
	content: "+";
	position: absolute;
	font-size: 18px;
	font-weight: 700;
	right: 25px;
	top: 50%;
	color: #242424;
	line-height: 18px;
	margin-top: -9px;
	margin-left: -4px;
}

.accordion-area .panel-header .panel-link.active {
	background: #242424;
	color: #fcff18;
}

.accordion-area .panel-header .panel-link.collapsed {
	background: #fcff18;
	color: #242424;
}

.accordion-area .panel-header .panel-link.collapsed:after {
	content: "+";
	color: #242424;
}

.accordion-area .panel-link.active:after {
	content: "-";
	margin-top: -10px;
	color: #fcff18;
}

.accordion-area .panel-link {
	text-align: left;
	border: none;
	position: relative;
	width: 100%;
	padding: 18px 40px;
	padding-left: 30px;
	font-size: 18px;
	font-weight: 700;
	background: #fcff18;
	color: #242424;
	cursor: pointer;
}

.accordion-area .panel-body {
	padding-right: 16px;
}

.accordion-area .panel-body p {
	margin-bottom: 0;
	padding-top: 24px;
}

/* tab */

.tab-element .nav-tabs {
	border-bottom: none;
}

.tab-element .nav-tabs .nav-link {
	border-radius: 0;
	font-size: 18px;
	font-weight: 700;
	color: #1f1f1f;
	border: none;
	padding: 18px 30px;
	margin-right: 9px;
	background: #fcff18;
	margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-item:last-child .nav-link {
	margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
	background: #000;
	color: #fff;
}

.tab-element .nav-tabs .nav-link:focus,
.tab-element .nav-tabs .nav-link:hover {
	border: none;
}

.tab-element .tab-pane {
	padding-right: 16px;
}

.tab-element .tab-pane p {
	padding-top: 20px;
}

/* Circle progress */

.circle-progress {
	text-align: center;
	display: block;
	position: relative;
	margin-bottom: 30px;
}

.circle-progress canvas {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.circle-progress .progress-info {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -32px;
}

.circle-progress .progress-info h2 {
	font-size: 36px;
	margin-bottom: 9px;
}

.circle-progress .progress-info p {
	font-size: 18px;
	margin-bottom: 0;
	line-height: normal;
}

/* Icon Box*/

.icon-box-item {
	text-align: center;
	margin-bottom: 40px;
}

.icon-box-item .ib-icon {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	color: #000000;
	font-size: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: #f6f9fa;
	margin: 0 auto 25px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.icon-box-item h4 {
	margin-bottom: 25px;
}

.icon-box-item p {
	margin-bottom: 0;
}

.icon-box-item:hover .ib-icon {
	background: #fcff18;
}

/*------------------
Header section
 ---------------------*/

.site-logo {
	display: inline-block;
	padding: 15px 35px;
}

.main-menu {
	list-style: none;
	float: right;
}

.main-menu li {
	display: inline-block;
	padding-top: 33px;
}

.main-menu li a {
	font-size: 20px;
	font-weight: 700;
	color: #353535;
	margin-right: 25px;
	padding: 2px 13px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.main-menu li a.active,
.main-menu li a:hover {
	background: #fcff18;
}

.header-right {
	float: right;
	padding-top: 0 !important;
}

.header-right .hr-box {
	width: 294px;
	padding: 31px 52px;
	background: #fcff18;
}

.header-right .hr-box img {
	float: left;
	margin-right: 16px;
}

.header-right .hr-box h6 {
	overflow: hidden;
}

.slicknav_menu {
	display: none;
}

/* ----------------
Hero section
 ---------------------*/

.hero-section {
	height: 860px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.hero-text {
	padding-top: 100px;
}

.hero-text h2 {
	font-size: 96px;
	color: #fff;
	line-height: 1;
}

.hero-text h2 span {
	color: #fcff18;
}

.hero-text .site-btn {
	margin-top: 44px;
}

/* ----------------
Feature section
 ---------------------*/

.feature-section {
	padding-top: 113px;
	padding-bottom: 63px;
}

/* ----------------
Add section
 ---------------------*/

.add-section {
	padding: 110px 0 103px;
}

.add-text {
	padding-left: 77px;
}

.add-text h2 {
	font-size: 60px;
	margin-bottom: 42px;
	color: #fff;
	margin-right: 116px;
}

.add-text h2 span {
	color: #fcff18;
}

.add-text ul {
	list-style: none;
	margin-bottom: 40px;
}

.add-text ul li {
	margin-bottom: 19px;
	color: #fff;
}

.add-text ul li img {
	margin-right: 19px;
}

/* ----------------
Milestones section
 ---------------------*/

.milestones-section {
	background: #f6f9fa;
	padding: 59px 0 5px;
}

.milestone {
	text-align: center;
	margin-bottom: 30px;
}

.milestone h2 {
	display: inline-block;
	background: #fcff18;
	padding: 4px 11px;
	margin-bottom: 2px;
}

.milestone p {
	margin-bottom: 0;
	font-size: 18px;
}

/* ----------------
Trainers section
 ---------------------*/

.trainers-section {
	padding: 121px 0 75px;
}

.trainers-section .section-title {
	margin-bottom: 78px;
}

.trainer-item {
	text-align: center;
	padding: 0 5px;
	margin-bottom: 30px;
}

.trainer-item .trainer-pic {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 auto 30px;
	overflow: hidden;
}

.trainer-item .trainer-pic img {
	max-width: 100%;
}

.trainer-item h4 {
	margin-bottom: 20px;
}

.trainer-item p {
	margin-bottom: 0;
}

/* ----------------
BMI section
 ---------------------*/

.bmi-section {
	background: #f6f9fa;
	position: relative;
}

.bmi-bg {
	position: absolute;
	height: 100%;
	width: 40.5%;
	left: 0;
	top: 0;
}

.bmi-calculator-warp {
	background: #242424;
	padding: 48px 53px 40px;
	margin-top: 70px;
}

.bmi-calculator input {
	font-size: 16px;
	color: #505050;
}

.bmi-calculator input,
.bmi-calculator .site-btn {
	width: 100%;
	height: 57px;
	margin-bottom: 30px;
	padding: 0 24px;
	border: none;
	min-width: 100%;
}

.bmi-calculator p {
	color: #fff;
	font-style: italic;
	margin-bottom: 0;
	padding-top: 9px;
}

/* ----------------
Newsletter section
 ---------------------*/

.newsletter-section {
	padding: 84px 0;
}

.newsletter-section .section-title {
	padding-top: 8px;
}

.newsletter-form {
	margin-left: -55px;
}

.newsletter-form input {
	width: calc(100% - 228px);
	height: 63px;
	padding: 10px 35px;
	float: left;
	border: none;
}

/* ----------------
Footer section
 ---------------------*/

.footer-section {
	padding-top: 106px;
	padding-bottom: 23px;
}

.footer-widget {
	margin-bottom: 50px;
}

.footer-widget h4 {
	color: #fff;
	margin-bottom: 30px;
}

.footer-widget .fw-info-box img {
	float: left;
	margin-right: 12px;
	padding-top: 7px;
}

.footer-widget .fw-info-box p {
	color: #b5babc;
	line-height: 1.8;
	margin-bottom: 0;
}

.footer-widget .fw-info-box .fw-info-text {
	max-width: 145px;
	overflow: hidden;
}

.footer-widget .social-links a {
	display: inline-block;
	padding: 9px 5px;
	color: #d1d1d1;
	margin-left: 18px;
}

.copyright {
	font-size: 13px;
	font-weight: 700;
	color: green;
	padding-top: 35px;
}

.copyright a {
	color: red;
}

.copyright a:hover {
	color: green;
}

.footer-menu {
	list-style: none;
	text-align: right;
	padding-top: 30px;
}

.footer-menu li {
	display: inline-block;
}

.footer-menu li a {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 5px;
	margin-left: 23px;
}

/* --------------
==================
Other Pages
==================
-----------------*/

.page-top-section {
	height: 272px;
	text-align: center;
	padding-top: 95px;
}

.page-top-section h2 {
	display: inline-block;
	position: relative;
	font-size: 72px;
	color: #fff;
	padding-bottom: 17px;
}

.page-top-section h2:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 6px;
	bottom: 0;
	left: 0;
	background: #fcff18;
}

/* ----------------
About Page
 ---------------------*/

.about-section {
	padding: 121px 0 118px;
}

.about-text {
	padding-right: 13px;
	margin-bottom: 50px;
}

.about-img {
	position: relative;
}

.about-img img {
	position: absolute;
	left: 60px;
	top: -58px;
}

.achievement-section {
	padding: 150px 0 86px;
}

.achievement-section .circle-progress .progress-info h2 {
	color: #fcff18;
}

.achievement-section .circle-progress .progress-info p {
	color: #fff;
}

.certified-section .section-title p {
	padding-top: 50px;
}

.certified-form {
	position: relative;
	overflow: hidden;
}

.certified-form input[type=text] {
	width: 100%;
	height: 60px;
	padding: 10px 29px;
	border: none;
	background: #edf3f5;
	margin-bottom: 19px;
	font-style: italic;
	font-size: 16px;
	color: #242424;
}

.certified-form label.attach {
	display: inline-block;
	background: #242424;
	padding: 18px;
	color: #fff;
	font-size: 16px;
	font-style: italic;
	width: 166px;
	text-align: center;
	cursor: pointer;
}

.certified-form .attach-field {
	position: absolute;
	z-index: -11;
	visibility: hidden;
	opacity: 0;
	left: 0;
}

.certified-form .site-btn {
	float: right;
}

/* ----------------
Classes Page
 ---------------------*/

.service-section {
	padding: 122px 0 55px;
}

.service-section .icon-box-item {
	margin-bottom: 50px;
}

.pricing-section {
	padding: 121px 0 91px;
}

.pricing-section .section-title {
	margin-bottom: 74px;
}

.pricing-box {
	position: relative;
	border: 2px solid #ffffff;
	text-align: center;
	padding: 62px 40px 31px;
	height: 593px;
	margin-bottom: 30px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.pricing-box h2 {
	font-size: 48px;
	color: #fff;
	margin-bottom: 3px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.pricing-box p {
	font-size: 18px;
	color: #d6d6d6;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.pricing-box ul {
	list-style: none;
	padding-top: 40px;
}

.pricing-box ul li {
	display: block;
	color: #d6d6d6;
	font-size: 18px;
	margin-bottom: 10px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.pricing-box ul li span {
	display: inline-block;
	width: 29px;
	height: 3px;
	margin-top: 18px;
	background: #fcff18;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.pricing-box .site-btn {
	min-width: 184px;
	position: absolute;
	bottom: 31px;
	left: 50%;
	margin-left: -92px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.pricing-box:hover {
	background: #fcff18;
	border-color: #fcff18;
}

.pricing-box:hover h2,
.pricing-box:hover p,
.pricing-box:hover ul li {
	color: #242424;
}

.pricing-box:hover ul li span {
	background: #242424;
}

.pricing-box:hover .site-btn {
	color: #fff;
	background: #242424;
}

.classes-section {
	padding: 121px 0;
}

.classes-section .section-title h2 {
	line-height: 1.2;
}

.classes-section .section-title h2 span {
	line-height: 1;
}

.classes-text {
	padding-right: 20px;
}

.classes-text p {
	margin-bottom: 50px;
}

/* ----------------
Blog page
 ---------------------*/

.blog-section {
	padding: 121px 0;
}

.blog-item {
	margin-bottom: 80px;
}

.blog-item img {
	margin-bottom: 40px;
}

.blog-item h2 {
	font-size: 36px;
	margin-bottom: 10px;
}

.blog-item .blog-metas {
	margin-bottom: 20px;
}

.blog-item .blog-metas .blog-meta {
	display: inline-block;
	margin-right: 15px;
	font-size: 14px;
	color: #7b7a7a;
	margin-bottom: 5px;
}

.blog-item .blog-metas .blog-meta img {
	float: left;
	margin-right: 7px;
	padding-top: 3px;
	margin-bottom: 0;
}

.blog-item p {
	margin-bottom: 30px;
}

.blog-item .site-btn {
	min-width: 156px;
}

.site-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.site-pagination a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	min-width: 33px;
	height: 37px;
	text-align: center;
	font-size: 16px;
	color: #242424;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0 5px;
}

.site-pagination a.active {
	min-width: 37px;
	color: #fff;
	background: #000;
}

.widget-area {
	margin-bottom: 56px;
}

.widget-area .widget-title {
	font-size: 24px;
	margin-bottom: 35px;
}

.widget-area ul {
	list-style: none;
}

.widget-area ul li {
	display: block;
	margin-bottom: 20px;
}

.widget-area ul li a {
	font-size: 16px;
	color: #505050;
}

.widget-area ul li span {
	display: inline-block;
	float: right;
	width: 24px;
	height: 24px;
	padding-top: 2px;
	font-size: 14px;
	border-radius: 50%;
	color: #242424;
	background: #fcff18;
	text-align: center;
}

.search-widget {
	position: relative;
}

.search-widget input {
	height: 63px;
	width: 100%;
	padding: 0 33px;
	padding-right: 65px;
	background: #edf3f5;
	border: none;
}

.search-widget button {
	position: absolute;
	height: 100%;
	width: 60px;
	right: 0;
	top: 0;
	border: none;
	background: transparent;
	z-index: 1;
}

.recent-post-widget .rp-item {
	margin-bottom: 30px;
}

.recent-post-widget .rp-item:last-child {
	margin-bottom: 0;
}

.recent-post-widget .rp-item img {
	float: left;
	width: 139px;
	margin-right: 19px;
}

.recent-post-widget .rp-text p {
	font-size: 18px;
	color: #242424;
	line-height: 1.3;
	margin-top: -3px;
}

.recent-post-widget .rp-date {
	display: inline-block;
	color: #242424;
	font-size: 12px;
	padding: 5px 13px 4px 9px;
	background: #fcff18;
}

.tags-widget a {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	color: #242424;
	margin-bottom: 15px;
	margin-right: 3px;
	background: #fcff18;
	padding: 4px 18px;
}

/* ----------------
Contact page
 ---------------------*/

.contact-section {
	padding-top: 110px;
}

.contact-title {
	margin-bottom: 76px;
}

.contact-info-warp {
	margin-bottom: 30px;
}

.contact-info-warp h4 {
	margin-bottom: 30px;
}

.contact-info-warp .contact-info img {
	float: left;
	margin-right: 12px;
	padding-top: 7px;
}

.contact-info-warp .contact-info p {
	line-height: 1.8;
	margin-bottom: 0;
}

.contact-info-warp .contact-info .cf-text {
	max-width: 145px;
	overflow: hidden;
}

.contact-form {
	margin-bottom: 84px;
}

.contact-form input[type=text],
.contact-form textarea {
	width: 100%;
	height: 60px;
	padding: 10px 29px;
	border: none;
	background: #edf3f5;
	margin-bottom: 19px;
	font-style: italic;
	font-size: 16px;
	color: #242424;
}

.contact-form textarea {
	resize: none;
	height: 164px;
	padding: 24px 29px 10px;
	margin-bottom: 30px;
}

.map {
	position: relative;
	height: 560px;
	background: #ddd;
}

.map iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

/* ----------------
Responsive
 ---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.main-menu li a {
		margin-right: 10px;
	}
	.header-right .hr-box {
		width: 240px;
		padding: 31px 20px;
	}
	.hero-text h2 {
		font-size: 80px;
	}
	.add-text {
		padding-left: 0;
	}
	.section-title h2 {
		font-size: 43px;
	}
	.newsletter-form {
		margin-left: 0;
	}
	.footer-widget .social-links a {
		margin-left: 15px;
	}
	.add-text h2 {
		margin-right: 100px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.site-logo {
		max-width: 165px;
		padding: 15px 15px;
	}
	.main-menu li a {
		margin-right: 5px;
		font-size: 18px;
		padding: 5px;
	}
	.header-right .hr-box {
		width: 205px;
		padding: 31px 10px;
	}
	.hero-text h2 {
		font-size: 60px;
	}
	.bmi-bg {
		display: none;
	}
	.newsletter-section {
		text-align: center;
	}
	.newsletter-form {
		margin-top: 50px;
		margin-left: 0;
	}
	.footer-menu li a {
		margin-left: 10px;
	}
	.about-img {
		text-align: center;
		margin-bottom: 40px;
	}
	.about-img img {
		position: relative;
		left: 0;
		top: 0;
	}
	.certified-section {
		background-position: right center;
	}
	.sidebar {
		padding-top: 50px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.site-logo {
		padding-left: 15px;
	}
	.main-menu {
		display: none;
	}
	.slicknav_menu {
		display: block;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
		margin-top: -43px;
	}
	.slicknav_nav {
		background: #353535;
	}
	.slicknav_nav ul {
		margin: 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		padding: 10px 20px;
		margin: 0;
	}
	.slicknav_nav .slicknav_row.active,
	.slicknav_nav a.active {
		color: #fcff18;
	}
	.slicknav_nav a:hover {
		border-radius: 0;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
	}
	.slicknav_btn {
		margin: 0 0 10px 0;
		position: relative;
		top: -23px;
		right: 15px;
		background: #353535;
	}
	.header-right {
		float: none;
		background: #fcff18;
		text-align: center;
	}
	.header-right .hr-box {
		padding: 20px 52px;
		margin: 0 auto;
		max-width: 294px;
		text-align: left;
	}
	.hero-section {
		height: auto;
	}
	.hero-text {
		padding-top: 200px;
		padding-bottom: 180px;
	}
	.hero-text h2 {
		font-size: 60px;
	}
	.add-text {
		padding-left: 0;
	}
	.add-text h2 {
		font-size: 55px;
	}
	.bmi-bg {
		display: none;
	}
	.bmi-calculator-warp {
		padding: 48px 20px 40px;
	}
	.newsletter-section {
		text-align: center;
	}
	.newsletter-form {
		margin-top: 50px;
		margin-left: 0;
	}
	.newsletter-form input {
		width: 100%;
		margin-bottom: 30px;
	}
	.footer-menu {
		text-align: center;
	}
	.footer-menu li a {
		margin-left: 5px;
	}
	.footer-menu li:first-child a {
		margin-left: 0;
	}
	.copyright {
		text-align: center;
		padding-top: 30px;
		padding-bottom: 15px;
	}
	.about-img {
		text-align: center;
		margin-bottom: 40px;
	}
	.about-img img {
		position: relative;
		left: 0;
		top: 0;
	}
	.certified-section {
		background-position: right center;
	}
	.certified-form .site-btn {
		float: none;
	}
	.certified-form label.attach {
		margin-right: 15px;
		margin-bottom: 10px;
	}
	.sidebar {
		padding-top: 50px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2 {
		font-size: 36px;
	}
	.hero-text h2,
	.page-top-section h2 {
		font-size: 48px;
	}
	.add-text h2 {
		font-size: 36px;
		margin-right: 0;
	}
}
