<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Arun Prasad M</b></h5>
                            <p class="card-text"><b>Domain:</b> Projects<br> <b> Email: </b> projects@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 7708823476</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Vishal V</b></h5>
                            <p class="card-text"><b>Domain:</b> Workshops<br><b> Email: </b> workshop@kurukshetra.org.in</p>
                            <p class="card-text"><small class="text-muted">Mobile: 8220958012</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Jaisharath R </b></h5>
                            <p class="card-text"><b>Domain:</b>Design<br><b> Email: </b> design@kurukshetra.org.in</p>
                            <p class="card-text"><small class="text-muted">Mobile: 9600016500</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Shiva prakash P</b></h5>
                            <p class="card-text"><b>Domain:</b> Brand relations<br> <b> Email: </b> brandrelations@kurukshetra.org.in.
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile:9566704202</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Valliyammai N</b></h5>
                            <p class="card-text"><b>Domain:</b>Hospitality<br><b> Email: </b>hospitality@kurukshetra.org.in</p>
                            <p class="card-text"><small class="text-muted">Mobile: 9159878370</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Dineshkumar G</b></h5>
                            <p class="card-text"><b>Domain:</b> Projects<br><b> Email: </b> projects@kurukshetra.org.in</p>
                            <p class="card-text"><small class="text-muted">Mobile: 9080123319</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Aishwarya S</b></h5>
                            <p class="card-text"><b>Domain:</b> Xceed and K!arnival<br> <b> Email: </b> xceed@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile:8248884996</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Kumaraguru S</b></h5>
                            <p class="card-text"><b>Domain:</b>Projects<br><b> Email: </b>projects@kurukshetra.org.in</p>
                            <p class="card-text"><small class="text-muted">Mobile: 9789398296</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Swetha M</b></h5>
                            <p class="card-text"><b>Domain:</b>Contents<br><b> Email: </b> content@kurukshetra.org.in</p>
                            <p class="card-text"><small class="text-muted">Mobile: 9629152205</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Mahalakshmi </b></h5>
                            <p class="card-text"><b>Domain:</b>Events<br> <b> Email: </b> events@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Mouli </b></h5>
                            <p class="card-text"><b>Domain:</b>Events<br><b> Email: </b>events@kurukshetra.org.in</p>
                            <p class="card-text"><small class="text-muted">Mobile: 9944477794</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Sathish Kumar</b></h5>
                            <p class="card-text"><b>Domain:</b>Events<br><b> Email: </b> events@kurukshetra.org.in</p>
                            <p class="card-text"><small class="text-muted">Mobile: 8637444134</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Amrin Taj S </b></h5>
                            <p class="card-text"><b>Domain:</b>Guest lecture<br> <b> Email: </b> guestlectures@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 7550163351</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Rony Shiela S </b></h5>
                            <p class="card-text"><b>Domain:</b> Workshops <br><b> Email: </b>workshop@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9489411304</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> A.Sivaranjani</b></h5>
                            <p class="card-text"><b>Domain:</b> Guest lecture<br><b> Email: </b> guestlectures@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile:  9600193614</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Moni kumar</b></h5>
                            <p class="card-text"><b>Domain:</b>Marketing<br> <b> Email: </b> marketing@kurukshtera.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9789075722</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Madhumathi P C </b></h5>
                            <p class="card-text"><b>Domain:</b>Hospitality <br><b> Email: </b>hospitality@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile:9486262037</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Rahul Aravind M</b></h5>
                            <p class="card-text"><b>Domain:</b> QAC<br><b> Email: </b>qac@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile:  9790942870</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Vashanth G U</b></h5>
                            <p class="card-text"><b>Domain:</b>Finance<br> <b> Email: </b> finance@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9994661028</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Vignesh R  </b></h5>
                            <p class="card-text"><b>Domain:</b>Finance <br><b> Email: </b>finance@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9940591962</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Suvalakshmi </b></h5>
                            <p class="card-text"><b>Domain:</b> QAC<br><b> Email: </b>qac@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile:  94742 02597</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>ANMOL MIRA SANKAR</b></h5>
                            <p class="card-text"><b>Domain:</b>HR<br> <b> Email: </b> hr@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 7550001840</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Aravind R  </b></h5>
                            <p class="card-text"><b>Domain:</b>HR <br><b> Email: </b> hr@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 7299818498</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Mohammed Zia I</b></h5>
                            <p class="card-text"><b>Domain:</b> HR<br><b> Email: </b> hr@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9597312726</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Ajith M</b></h5>
                            <p class="card-text"><b>Domain:</b>logistics<br> <b> Email: </b>logistics@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9486127435</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Pragadesh N </b></h5>
                            <p class="card-text"><b>Domain:</b>logistics <br><b> Email: </b> logistics@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9942440332</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Arun Deepak</b></h5>
                            <p class="card-text"><b>Domain:</b>logistics<br><b> Email: </b>logistics@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9940246446</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Prithiviraj.M</b></h5>
                            <p class="card-text"><b>Domain:</b>Hospitality<br> <b> Email: </b>hospitality@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 85086 70071</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Jaganathan V </b></h5>
                            <p class="card-text"><b>Domain:</b>Design<br><b> Email: </b> design@kurukshetra.org.in
                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 87544 75503 </small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Srinithi.S</b></h5>
                            <p class="card-text"><b>Domain:</b>Contents<br><b> Email: </b>shri24nithi@gmail.com

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9789793427</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Gowthamraj P </b></h5>
                            <p class="card-text"><b>Domain:</b>Tech<br> <b> Email: </b>techops@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9750417833 </small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Venkatesh A </b></h5>
                            <p class="card-text"><b>Domain:</b>Tech <br><b> Email: </b>techops@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile:7539905319 </small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Roopesh S</b></h5>
                            <p class="card-text"><b>Domain:</b>Tech<br><b> Email: </b>techops@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 9176108174</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="card-deck">
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b> Abhinaya.K.S </b></h5>
                            <p class="card-text"><b>Domain:</b>Initiatives, Internal Auditing and Alumni Relations <br><b> Email: </b> internalauditingctf2020@gmail.com

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile: 8939228051 </small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" [style.max-width.px]="screenWidth">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/kurukshetra.jpeg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><b>Sivasankari G</b></h5>
                            <p class="card-text"><b>Domain:</b>Tech <br><b> Email: </b>techops@kurukshetra.org.in

                            </p>
                            <p class="card-text"><small class="text-muted">Mobile:9566350499</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>